.arrow {
    position: absolute;
    top: 50%;
    translate: -50%;
    margin: -60px 0 0 -60px;
    width: 0;
    height: 0;
    z-index: 99999;

    /* Triangle Borders */
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid yellow;
    animation: spin 1s linear infinite;
}

.rightSide {
    animation: none;
    right: -2vw;
    transform: rotateY(-180deg);
}

.leftSide {
    animation: none;
    left: 6vw;
    transform: rotateY(0deg);
}

@keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
